.icon
  padding: 60px 120px

.icon__caption
  font-family: 'Open Sans', sans-serif
  color: #333

.icon__content
  margin-top: 40px

.icon__item
  display: inline-block
  width: 100px
  height: 100px
  cursor: pointer
  margin-right: 20px
  margin-bottom: 20px

.icon__chemistry
  fill: #ff3d00

  &:hover
    fill: darken(#ff3d00, 10%)

.icon__fb
  fill: #3b5998

  &:hover
    fill: darken(#3b5998, 10%)

.icon__rss
  fill: #e30b5c

  &:hover
    fill: darken(#e30b5c, 10%)
