<div class="preview">
  <h1 class="preview__caption">SVG icon system</h1>

  <div class="preview__content">
    <a href="#" class="preview__icon preview__icon--chemistry">
      <app-svg-icon
        [icon]="'chemistry-icon'"
      >
      </app-svg-icon>
    </a>

    <a href="#" class="preview__icon preview__icon--fb">
      <app-svg-icon
        [icon]="'fb-icon'"
      >
      </app-svg-icon>
    </a>

    <a href="#" class="preview__icon preview__icon--rss">
      <app-svg-icon
        [icon]="'rss-icon'"
      >
      </app-svg-icon>
    </a>
  </div>
</div>
